extends layout

block content
  h1= title
  - let tastyFoodid = toShow._id
  - let taste = toShow.taste
  - let texture = toShow.texture
  - let temperature = toShow.temperature
  div
    div.row
      div(class='tastyFoodAttr mr-3') TastyFood ID is:
      div #{tastyFoodid}
        
    div.row
      div(class='tastyFoodAttr mr-3') TastyFood Taste is:
      div #{taste}
        
    div.row
      div(class='tastyFoodAttr mr-3') TastyFood Texture is:
      div #{texture}
        
    div.row
      div(class='tastyFoodAttr mr-3') TastyFood Temperature is:
      div #{temperature}
        
