extends layout

block content
  h1= title
  - let tastyFoodid = toShow._id
  - let tastyFoodtaste = toShow.taste
  - let tastyFoodtexture = toShow.texture
  - let tastyFoodtemperature = toShow.temperature
  div
    div.row
      div(class='tastyFoodAttr mr-4') TastyFood ID is:
        div #{tastyFoodid}
        br
    div.row
      div(class='tastyFoodAttr mr-4') TastyFood Taste is:
        div #{tastyFoodtaste}
        br
    div.row
      div(class='tastyFoodAttr mr-4') TastyFood Texture is:
        div #{tastyFoodtexture}
        br
    div.row
      div(class='tastyFoodAttr mr-4') TastyFood Temperature is:
        div #{tastyFoodtemperature}
        br
