extends layout

block content
  h1= title
  - let tastyFoodid = toShow._id
  - let tastyFoodtaste = toShow.taste
  - let tastyFoodtexture = toShow.texture
  - let tastyFoodtemperature = toShow.temperature
  div
    div.row
      div(class='tastyFoodAttr mr-3') tastyFood ID is:
        div #{tastyFoodid}
    div.row
      div(class='tastyFoodAttr mr-3') tastyFood Taste is:
        div #{tastyFoodtaste}
    div.row
      div(class='tastyFoodAttr mr-3') tastyFood Texture is:
        div #{tastyFoodtexture}
    div.row
      div(class='tastyFoodAttr mr-3') tastyFood Temperature is:
        div #{tastyFoodtemperature}

  .tastyFoodAttr
    background-color: rgb(211, 241, 16);
    width: 120px;
