extends layout

block content
  h1= title
  - var tastyFoods = [{taste: "Sweet", texture: "Creamy", temperature: 10},{taste: "Savory", texture: "Crispy", temperature: 180},{taste: "Spicy", texture: "Crunchy", temperature: 220}]
  div(class="container-fluid")
    div(class="row")
      each food, index in tastyFoods
        div(class="col-sm-2" onclick=`buy(${index})`) #{food.taste}, #{food.texture}, #{food.temperature}°F
      script.
        function buy(a) {
          alert(`You enjoyed the ${a+1} food!`)
        }
